{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Launch development",
      "request": "launch",
      "type": "dart",
      "program": "lib/main_development.dart",
      "args": [
        "--flavor",
        "development",
        "--target",
        "lib/main_development.dart"
      ],
      "toolArgs": [
        "--dart-define",
        "apiKey=your-api-key-here",
        "--dart-define",
        "baseUrl=base-url-here",
        "--dart-define",
        "baseImageUrl=base-image-url-here"
      ]
    },
    {
      "name": "Launch staging",
      "request": "launch",
      "type": "dart",
      "program": "lib/main_staging.dart",
      "args": [
        "--flavor",
        "staging",
        "--target",
        "lib/main_staging.dart"
      ]
    },
    {
      "name": "Launch production",
      "request": "launch",
      "type": "dart",
      "program": "lib/main_production.dart",
      "args": [
        "--flavor",
        "production",
        "--target",
        "lib/main_production.dart"
      ]
    }
  ]
}